// Color variables

$col-primary: rgb(44, 142, 233);
$col-secondary: rgb(255, 178, 13);
$col-dark: rgb(22, 22, 22);
$col-light: rgb(230, 230, 230);
$col-danger: rgb(241, 55, 31);

// Time Variables
$in: 0.2s;
$out: 0.4s;